################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WelcomeProject/WelcomeProject/bin/Debug/net5.0
/WelcomeProject/WelcomeProject/obj
