@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center"; style="background-color:aqua">
    <h1 class="display-4">Welcome To Azure Container Demo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
